* {
    font-family: 'Calibri';
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 img {
    width: 500px;
    max-width: 100%;
}

body {
    background-image: url(/Assets/body_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

div {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
}

header {
    display: flex;
    flex-direction: column;
}

.pookle {
    align-self: center;
    width: 300px;
    max-width: 100%;
}